@model Tree.ViewModel.IndexCategoryViewModel
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

	@Html.ActionLink("Create New", "Create")
</p>
@{
	var LastDepth = 0;
	string TreeHtml = "<ul class='categories-tree'>";

}

@foreach (var cat in Model.categories)
{

	if (cat.Id != Model.categories[0].Id && cat.Depth == LastDepth)
	{
		TreeHtml += "</li>";
	}
	if (cat.Depth > LastDepth)
	{
		TreeHtml += "<ul class='categories-tree'>";
	}

	if (cat.Depth < LastDepth)
	{
		for (int i = 0; i < LastDepth - cat.Depth; i++)
		{
			TreeHtml += "</li></ul>";
		}

		TreeHtml += "</li>";
	}
	TreeHtml += "<li class='category-level'>";
	if (User.IsInRole("admin"))
	{
		TreeHtml += Html.ActionLink("USUN", "Delete", new { id = cat.Id }, new { @class = "btn btn-danger btn-xs" });
		TreeHtml += Html.ActionLink("EDYTUJ", "Edit", new { id = cat.Id }, new { @class = "btn btn-default btn-xs" });
	}
	TreeHtml += "<span class ='category-name' style='padding-left:" + 20 * cat.Depth + "px'>";
	if (cat.RgtId - cat.LftId > 1)
	{
		TreeHtml += "<span class ='category-icon glyphicon glyphicon-minus'>";
		TreeHtml += "</span>";
	}
	else
	{
		TreeHtml += "<span style='width:24px; padding: 0px; display:inline-block'>";
		TreeHtml += "</span>";
	}
	TreeHtml += cat.Name;

	TreeHtml += "</span>";
	LastDepth = cat.Depth;
}
@{
	for (int i = 0; i < LastDepth+1; i++)
	{
		TreeHtml += "</li></ul>";
	}
}

@MvcHtmlString.Create(TreeHtml)

